<h1>Contato</h1>

<form method="POST">
	
	<div class="form-group">
		<label>Nome:</label>
		<input type="text" name="nome">
	</div>

	<div class="form-group">
		<label>E-mail:</label>
		<input type="text" name="email">
	</div>

	<div class="form-group">
		<label>Assunto:</label>
		<input type="text" name="assunto">
	</div>

	<div class="form-group">
		<label>Mensagem:</label>
		<textarea name="mensagem"></textarea>
	</div>

	<button type="submit">Enviar</button>

</form>