<!DOCTYPE html>
<html>
<head>
	<title>Contato</title>
</head>
<body>

	<table>
		<tr>
			<th>Nome:</th>
			<td>{{nome}}</td>
		</tr>

		<tr>
			<th>E-mail:</th>
			<td>{{email}}</td>
		</tr>
		
		<tr>
			<th>Assunto:</th>
			<td>{{assunto}}</td>
		</tr>
		
		<tr>
			<th>Mensagem:</th>
			<td>{{mensagem}}</td>
		</tr>
	</table>

</body>
</html>